.user{
    flex: 4;
    padding: 20px;
}
.usertitlecontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.usertitle{

}
.useraddbutton{
    width: 80px;
    border: none;
    padding: 5px;
    background-color:teal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}
.usercontainer{
    display: flex;
    margin-top: 20px;
}
.usershow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow:0px 0px 15px -10px rgba(0, 0, 0, 0.75) ;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.userupdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow:0px 0px 15px -10px rgba(0, 0, 0, 0.75) ;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-left: 20px;
}
.usershowtop{
    display: flex;
    align-items: center;
}
.usershowimg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.usershowtoptitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.usershowusername{
    font-weight: 600;
}
.showusertitle{
    font-weight: 300;
}
.usershowbottom{
    margin-top: 20px;
}
.usershowtitle{
    font-size: 14px;
    font-weight: 600;
    color: rgba(175, 170, 170);
}
.usershowinfotitle{
    margin-left: 10px;
}
.usershowicon{
    font-size: 16px !important;
}
.usershowinfo{
    display: flex;
    align-items: center;
    margin: 10px 0px;
    color: #444;
}
.userupdate{

}
.userupdatetitle{
    font-size: 24px;

}
.userupdateform{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.userupdateleft{

}
.userupdateitem{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.userupdateitem>label{
    margin-bottom: 5px;
    font-size: 14px;
}
.userupdateinput{
    border: none;
    border-bottom: 1px solid gray;
    height: 30px;
    width: 250px;
}
.userupdateimage{
 width: 100px;
 height: 100px;
 border-radius: 30px;
 object-fit: cover;
 margin-right: 20px;
}
.userupdateupload{
    display: flex;
    align-items: center;
}
.userupdateright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.userupdatebutton{
    border-radius: 5px;
    border: none;
    padding: 5px;
    color: white;
    background-color: darkblue;
    font-weight: bolder;
}
.userupdateicon{
    cursor: pointer;
}